#DivCanvasGraph {
    position: absolute;
    left: 0cm;
    top: 0cm;
    width: 29.7cm;
    height: 20.9cm;
}

.Canvas3DGraph {
    width: 12cm;
    height: 12cm;
}

#Canvas3DGraphInsert {
    position: absolute;
    left: 4cm;
    top: 3cm;
}

#Canvas3DGraphDelete {
    position: absolute;
    right: 4cm;
    top: 3cm;
}

#ValueConnectLines {
    position: absolute;
    left: 0;
    top: 0;
    width: 29.7cm;
    height: 21cm;
}