@media print {
    @page {
        size: 21cm 29.7cm;
        margin: 0;
        padding: 0;
    }

    body {
        left: 0cm;
        top: 0cm;
        width: 21cm
        height: 29.7cm;
        margin-left: 0;
        margin-top: 0;
        padding-left: 0;
        padding-top: 0;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}

#Full {
    position: absolute;
    left: 0cm;
    top: 0cm;
    width: 21cm;
    height: 29.7cm;
    background-color: #EEEE77;
}

#Title {
    position: absolute;
    width: 21cm;
    height: 3cm;
}

#TitleText {
    position: absolute;
    width: 21cm;
    height: 3cm;
    font-family: "Source Code Pro";
    font-weight: bold;
    font-size: 48px;

    text-align: center;
    line-height: 3cm;
}

#Graph {
    position: absolute;
    top: 3cm;
    width: 21cm;
    height: 20.7cm;   
}

#GraphLeft {
    position: absolute;
    left: 0cm;
    top: 0cm;
    width: 9cm;
    height: 20.7cm;
}

#BarGraph {
    width: 100%;
    height: 100%;
}

.Bar {
    margin-left: auto;
    height: 100%;
}

#LineGraph {
    position: absolute;
    left: 0;
    top: 0;
    stroke-width: 4px;
}

.LineGraphTotal {
    stroke: rgb(0, 0, 0);
}

.LineGraphAchieved {
    stroke: rgb(0, 0, 255);
}

.LineGraphRatio {
    stroke: rgb(255, 0, 0);
}

#GraphCenter {
    position: absolute;
    left: 9cm;
    top: 0cm;
    width: 3cm;
    height: 20.7cm;
}

#GraphCenterLine {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 20px;
    height: 20.7cm;
    background-color: #000000;
}

#GraphDate {
    position: absolute;
    width: 3cm;
    height: 20.7cm;
}

.DateElement {
    border: 6px solid black;
    border-radius: 4px;
    margin: 0 auto;
    width: 100px;
    height: 60px;

    background-color: #ffffff;
    
    font-family: "Source Code Pro";
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
}

#GraphRight {
    position: absolute;
    left: 12cm;
    top: 0cm;
    width: 9cm;
    height: 20.7cm;
}

#GraphRightElement {
    width: 9cm;
    height: 20.7cm;
}

.Description {
    font-family: "Source Code Pro";
    font-size: 20px;
    left: 0;
}

#Lower {
    position: absolute;
    left: 0cm;
    top: 23.7cm;
    width: 21cm;
    height: 6cm;
}

#LowerLeast {
    position: absolute;
    left: 0cm;
    top: 3cm;
    width: 21cm;
    height: 3cm;
}

#LowerMost {
    position: absolute;
    left: 0cm;
    top: 0cm;
    width: 21cm;
    height: 3cm;
}

.LowerTitle {
    position: absolute;
    left: 0.2cm;
    top: 0.1cm;
    width: 5.6cm;
    height: 2.8cm;
    margin-left: 0px;
    padding-left: 8px;

    font-family: "Source Code Pro";
    font-size: 48px;
    font-weight: bold;
    line-height: 2.8cm;
}

.LowerDateText {
    position: absolute;
    left: 6.2cm;
    top: 0.1cm;
    width: 5.6cm;
    height: 1.3cm;
    padding-left: 8px;

    font-family: "Source Code Pro";
    font-size: 48px;
    font-weight: bold;
    line-height: 1.3cm;
}

.LowerLineText {
    position: absolute;
    left: 6.2cm;
    top: 1.6cm;
    width: 5.6cm;
    height: 1.3cm;
    padding-left: 8px;

    font-family: "Source Code Pro";
    font-size: 36px;
    font-weight: bold;
    line-height: 1.3cm;
}

.LowerDescriptionText {
    position: absolute;
    left: 12.2cm;
    top: 0.1cm;
    width: 8.6cm;
    height: 2.7cm;

    padding-top: 8px;
    padding-left: 8px;

    font-family: "Source Code Pro";
    font-size: 20px;
    line-height: 20px;
}

.BGBlue {
    background-color: rgb(127, 127, 255);
    border-radius: 24px;
}

.BGRed {
    background-color: rgb(255, 127, 127);
    border-radius: 24px;
}

img {
    border: 2px solid black;
    width: 100%;
}
