#DivFloatingText {
    position: absolute;
    left: 0cm;
    top: 0cm;
    width: 29.7cm;
    height: 21cm;
}

#FloatingTextBox {
    position: absolute;
    width: 184px;
    height: 37px;
    font-family: 'Source Code Pro';
    font-size: 16px;
    padding-left: 8px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
}

#DivSummary {
    position: absolute;
    right: 20px;
    top: 0.5cm;
    width: 6cm;
    height: 6cm;
}

#TitleRatio {
    position: absolute;
    top: 0cm;
    left: 0cm;
}

#TextRatio1 {
    position: absolute;
    top: 0.5cm;
    left: 0cm;
}

#TextRatio2 {
    position: absolute;
    text-align: right;
    top: 0.6cm;
    left: 3cm;
}

#TitleInserted {
    position: absolute;
    top: 2cm;
    left: 0cm;
}

#TextInserted1 {
    position: absolute;
    top: 2.5cm;
    left: 0cm;
}

#TextInserted2 {
    position: absolute;
    text-align: right;
    top: 3.1cm;
    left: 3cm;
    width: 3cm;
}

#TitleDeleted {
    position: absolute;
    top: 4cm;
    left: 0cm;
}

#TextDeleted1 {
    position: absolute;
    top: 4.5cm;
    left: 0cm;
}

#TextDeleted2 {
    position: absolute;
    text-align: right;
    top: 5.1cm;
    left: 3cm;
    width: 3cm;
}

.SummaryTitle {
    font-family: 'Source Code Pro';
    font-size: 16px;
    font-weight: bold;
}

.SummaryNumber {
    font-family: 'Source Code Pro';
    font-size: 40px;
    font-weight: bold;
}

.SummaryNumber2 {
    font-family: 'Source Code Pro';
    font-size: 16px;
}

.TextGreen {
    color: hsl(100 75% 40%);
}

.TextRed {
    color: hsl(340 75% 50%);
}
