#DivFloatingText {
    position: absolute;
    left: 0cm;
    top: 0cm;
    width: 29.7cm;
    height: 21cm;
}

#FloatingTextBox {
    position: absolute;
    width: 184px;
    height: 37px;
    font-family: 'Source Code Pro';
    font-size: 16px;
    padding-left: 8px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
}

#DivSummary {
    position: absolute;
    border: 2px solid black;
    right: 0.5cm;
    top: 0.5cm;
    width: 6cm;
    height: 3cm;
}
